<<<<<<< HEAD
<footer>
    <section>
      <h1>Built with Node.js</h1>
    </section>
   </footer>
  
=======
<footer>
  <section>
    <h1>Built with Node.js</h1>
  </section>
 </footer>
>>>>>>> 4164a07d20ea66562b1b6f9cc48eaf8f3f2f320e
