<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet">
    <title>Todo-Manager</title>
    <script>
        function updateTodo(id) {
            fetch(`/todos/${id}/markAsCompleted`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
        function deleteTodo(id){
            fetch(`/todos/${id}`,{
                method: "delete",
                headers: { "Content-Type": "application/json" },
            })
            .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.error(err));
        }
    </script>
</head>

<body>


    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>

                <form action="/todos" method="post">
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title" placeholder="Enter task"
                                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
                        </div>
                        <div class="flex-auto">
                            <input type="date" name="dueDate"
                                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                                required>
                        </div>
                        <div class="flex-none">
                            <button type="submit"
                                class="bg-blue-600 text-white px-5 py-1.5 rounded mr-2 mb hover:bg-green-600">
                                Add</button>
                        </div>
                    </div>
                </form>
                <div>
                    <%- include('todos.ejs', {title: "Overdue" , data: overduetodos}) %>
                        <%- include('todos.ejs', {title: "Due Today" , data: duetodaytodos}) %>
                            <%- include('todos.ejs', {title: "Due Later" , data: duelatertodos}) %>

                </div>
        </div>
    </div>
</body>

</html>